
*{

    margin: 35px;
    padding: 35px;
}   


h4 {

font-family: Arial, Helvetica, sans-serif;

}

body {

background-color: tomato;

}


.habilidade-javascript{

    font-size: 20px;
}

/*.habilidade-html{


    font-size: 40px;
}*/

.habilidade-git{

    font-size: 50px;
}


/*.habilidade-css{

    font-size: 40px;
}*/

#nome {

text-align: center;

}

#foto-perfil {

background-color: blueviolet;
padding: 10px;

}

.bio>p{

    position: relative;
    margin-right: 10px;
}



figure{

    float: left;
    margin: 0 10px 10px 0;
}