h4 {

font-family: Arial, Helvetica, sans-serif;

}

body {

background-color: tomato;

}

#sobre-mim < p {



}

.habilidade-javascript{

    font-size: 20px;
}

.habilidade-html{


    font-size: 40px;
}

.habilidade-git{

    font-size: 50px;
}


.habilidade-css{

    font-size: 40px;
}
